@keyframes end-animation
  0%
    color: rgba(255, 255, 255, 0)
    text-shadow: none
    padding-right: 100px

  30%
    color: rgba(255, 255, 255, 1)
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
    padding-right: 0px

  70%
    color: rgba(255, 255, 255, 1)
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black
    padding-left: 0

  100%
    color: rgba(255, 255, 255, 0)
    text-shadow: none
    padding-left: 100px

.start-description
  animation-name: end-animation
  animation-duration: 10.5s
  cursor: default

@media ( max-width: 25cm )
  @keyframes end-animation
    0%
      color: rgba(255, 255, 255, 0)
      text-shadow: none

    30%
      color: rgba(255, 255, 255, 1)
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

    70%
      color: rgba(255, 255, 255, 1)
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

    100%
      color: rgba(255, 255, 255, 0)
      text-shadow: none

@media ( max-width: 15cm )
  @keyframes end-animation
    0%
      color: rgba(255, 255, 255, 0)
      text-shadow: none

    20%
      color: rgba(255, 255, 255, 1)
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

    80%
      color: rgba(255, 255, 255, 1)
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black

    100%
      color: rgba(255, 255, 255, 0)
      text-shadow: none
