@keyframes end-animation
  0%
    color: rgba(255, 255, 255, 0)
    text-shadow: none
    padding-right: 100px

  30%
    color: rgba(255, 255, 255, 1)
    text-shadow: -1px 0 rgba(0, 58, 124, 1), 0 1px rgba(0, 58, 124, 1), 1px 0 rgba(0, 58, 124, 1), 0 -1px rgba(0, 58, 124, 1)
    padding-right: 0px

  70%
    color: rgba(255, 255, 255, 1)
    text-shadow: -1px 0 rgba(0, 58, 124, 1), 0 1px rgba(0, 58, 124, 1), 1px 0 rgba(0, 58, 124, 1), 0 -1px rgba(0, 58, 124, 1)
    padding-left: 0

  100%
    color: rgba(255, 255, 255, 0)
    text-shadow: none
    padding-left: 100px

.start-description
  animation-name: end-animation
  animation-duration: 10.5s
  cursor: default

@media ( max-width: 25cm )
  @keyframes end-animation
    0%
      color: rgba(255, 255, 255, 0)
      text-shadow: none

    30%
      color: rgba(255, 255, 255, 1)
      text-shadow: -1px 0 rgba(0, 58, 124, 1), 0 1px rgba(0, 58, 124, 1), 1px 0 rgba(0, 58, 124, 1), 0 -1px rgba(0, 58, 124, 1)

    70%
      color: rgba(255, 255, 255, 1)
      text-shadow: -1px 0 rgba(0, 58, 124, 1), 0 1px rgba(0, 58, 124, 1), 1px 0 rgba(0, 58, 124, 1), 0 -1px rgba(0, 58, 124, 1)

    100%
      color: rgba(255, 255, 255, 0)
      text-shadow: none

@media ( max-width: 20cm )
  .start-description
    margin: 0cm 1.5cm 0 1.5cm

@media ( max-width: 15cm )
  @keyframes end-animation
    0%
      color: rgba(255, 255, 255, 0)
      text-shadow: none

    20%
      color: rgba(255, 255, 255, 1)
      text-shadow: -1px 0 rgba(0, 58, 124, 1), 0 1px rgba(0, 58, 124, 1), 1px 0 rgba(0, 58, 124, 1), 0 -1px rgba(0, 58, 124, 1)

    80%
      color: rgba(255, 255, 255, 1)
      text-shadow: -1px 0 rgba(0, 58, 124, 1), 0 1px rgba(0, 58, 124, 1), 1px 0 rgba(0, 58, 124, 1), 0 -1px rgba(0, 58, 124, 1)

    100%
      color: rgba(255, 255, 255, 0)
      text-shadow: none

  .start-description
    margin: 0cm 1.5cm 1cm 1.5cm

  // rgb(0, 58, 124)
