.footer
  height: 50vh
  background-color: #222222
  display: flex
  justify-content: center
  align-items: center

.footer-div
  height: 70%
  display: flex
  flex-direction: row
  justify-content: center
  align-items: center

.footer-center-vertical-line
  height: 100%
  width: 0px
  border: 1px solid #d6d6d6
