.background-image
  transition-duration: 0.5s
  transition-property: background-image

.start
  height: 100vh
  border: 1px none
  background-color: rgba(34, 34, 34, 0.8)
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  font-family: monospace
  font-size: 30px
